<%- include("include")  %>

    <h1>
        Hello world
    </h1>
    <ul>
        <% a.forEach(item => { %>
            <li>
                <%= item %>
            </li>
            <% }) %>
    </ul>